
.score_table {
    border-collapse: separate;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    /*width: 50%;*/
}

.score_table thead th {
    background-color: #b6b6b6;
    color: white;
    text-align: center;
}

.score_table tbody tr {
    text-align: center;
}
